        <div data-role="page" data-theme="a" id="index" data-url="/presentations/#">
            <div data-theme="a" data-role="header">
                <h3>
                    SlideCTRL.com
                </h3>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-divider-theme="a" data-inset="true">
                    <li data-role="list-divider" role="heading">
                        My Presentations
                    </li>
                    <% @presentations.each do |presentation| %>
                      <li data-theme="a" data-icon="arrow-r">
                      <%= link_to presentation.name, control_presentation_path(presentation), :rel => "external", :"data-transition" => "slide" %>
                      </li>
                    <% end %>
                    </ul>
            </div>
            <div data-theme="a" data-role="footer">
                <h3>
                    Menu
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :rel => "external") %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


