<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
        <%= javascript_include_tag "mobile/application" %>
        <%= csrf_meta_tag %>

    </head>
    <body>
      <%= yield %>
    </body>
</html>


